@charset "utf-8";
/* CSS Document */
.header{
    background: #0f243f;
    padding:15px 20px;
/*    border-bottom: ~"@{borderWidth / 4} @{borderType} @{borderColor}";*/
}
h2{
    color: #fff; 
    margin:0;
	font-size:20px;
	font-weight:bold;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #ff7300;
  font-weight:bold;
}
