* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 1.5;
	background: #eee;
}

h1, h2{
	padding-bottom: 10px;
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
}

h1{
	margin: 10px 0;
}
h2{
	margin-bottom: 20px;
	color: #333;
	border-bottom: 1px solid #ccc;
}

/* General Class */
.clr{
	clear: both;
}

/* Layout */
#wrapper{
	width: 1050px;
	margin: 0 auto;
}

aside{
	position: fixed;
	top: 71px;
	width: 200px;
}

#content{
	float: right;
	width: 800px;
}

/* Menu */
#menu{
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 4px #ccc;
}
#menu li{
	list-style: none;
}
#menu li:last-child a{
	border-bottom: none;
}
#menu li a{
	display: block;
	margin: 0 16px;
	padding: 8px 0;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ebebeb;
}
#menu li a:hover{
	color: #0873AF;
	font-weight: bold;
}


/* Container */
.container{
	margin: 20px 0 30px;
	padding: 20px 20px 40px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 4px #ccc;
}

/* Content */
.content{
	color: #666;
}

.content p {
	margin-bottom: 20px;
}

.content p:last-child {
	margin-bottom: 0;
}

/* User From*/
.user-form .header-control{
	margin: 30px 0;
}

.user-form .no-record{
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
	color: #333;
}

.textbox{
	padding: 4px;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button{
	padding: 4px 10px;	
}

table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #ccc;
}

table tr:nth-child(2n + 1) td{
	background: #E5F3FF;
}

table th{
	color: #fff;
	font-weight: normal;
	background: #666;
}

table th,
table td{
	padding: 8px 10px;
	text-align: left;
	border-top: 1px solid #B9CBF1;
}
