<!doctype html>
<html data-ng-app = "valueCal">
<head>
<script src="lib/angular/angular.js"></script>
<script src="js/controllers.js"></script>
<link rel="stylesheet" href="css/calculator.css">
</head>
<body>
    <div class="divPos" data-ng-controller="Calculator">
        <h1>Calculator</h1>
        First Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="number" name="num1" ng-model="user.firstNum" placeholder="First Number"><br>
        Second Number : <input type="number" name="num2" ng-model="user.secondNum" placeholder="Second Number"><br>
        result &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="resultnum" ng-model="result" ><br><br>
        <button data-ng-click="addNumbers()" class="btSet">Add</button>
        <button data-ng-click="subtract()" class="btSet">Subtract</button>
        <button data-ng-click="multiply()" class="btSet">Multiply</button>
        <button data-ng-click="divide()" class="btSet">Divide</button>
        <button data-ng-click="clearVal()" class="btSet">Clear</button>
        
    </div>
</body>
</html>