body {
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
   font-family: Delicious
}
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:50px;
    right: 120px; 
    z-index:1; 
}

.navigation_container
{
	position: absolute;
	right: 120px; 
}
ul
{
	list-style-type:none;
	margin:40px;
	padding:0;
	overflow:hidden;
}
li
{
	float:left;
}
ul li a
{
	display:block;
	width:100px;
	color:#000000;
	background-color:#66CDAA;
	text-align:center;
	padding:4px;
	border:2px solid #00FFFF;
	border-radius: 3px;
	text-decoration:none;
}
ul li a:hover
{
	background-color:#00CED1;
}

canvas 
{
	float: left;
	position: absolute;
	top:0;
	z-index: 1;
}

.overlay_contact{
	position:absolute;
    top:50px;
    right: 120px; 
    z-index:1;
    
}
.form_indent
{	
	position:absolute;
    top:100px;
    right: 120px; 
    z-index:1;
    text-align: center;
}
ol
{
	list-style-type:none;
	margin:40px;
	padding:0;
	overflow:hidden;
}
li
{
	float:left;
}
ol li label
{
	display:block;
	width:100px;
	text-align:center;
	padding:4px;
	border-radius: 3px;
	text-decoration:none;
}

.image_draw
{
	position:absolute;
    top:150px;
    left: 300px;
    z-index:1;
    text-align: center;
}
book
{
	text-align: center;
	font-size: 40px;
	font-family: fantasy;
	position: absolute;
	z-index: 1;
	top: 600px;
	left: 500px;	
}
/*Canvas shaping*/
container{
    display:inline-block;
    width:600px; 
    height:480px;
    margin: 0 auto; 
    top:200px;
    left: 300px;
    background: white; 
    position:absolute; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
    z-index: 1;
  }
gameCanvas{
    position:absolute;
    z-index:20;}
