<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/angular/angular.js"></script>
</head>
<body>

	<div id="wrapper">
		
		<h1>Calculator</h1>

		<div class="container">
			<div class="control">
				<input type="number" class="textbox" ng-model="num1" />
				<input type="number" class="textbox" ng-model="num2" />
			</div>

			<div class="control">
				<button type="button" ng-click="result = num1 + num2">+</button>
				<button type="button" ng-click="result = num1 - num2">-</button>
				<button type="button" ng-click="result = num1 * num2">*</button>
				<button type="button" ng-click="result = num1 / num2">/</button>
				<button type="button" ng-click="result = ''; num1 = ''; num2 = '';">C</button>
			</div>

			<div class="clr"></div>

			<p class="result">{{result}}</p>
		</div>

	</div>

</body>
</html>
